* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    background-image: url(BACKGROUND.jfif);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

#options div {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#options div:hover {
    background-color: #d4e5d7;
    transform: scale(1.05);
}

.selected {
    background-color: #90ee90;
    border-color: #4CAF50;
}

.incorrect {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

#options div:active {
    transform: scale(0.98);
}

.hidden {
    display: none;
}

#result {
    margin-top: 20px;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
